* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user_info {
    display: flex;
    padding: 16px;
}

.user_info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}